body {
  background-color: #1b1e1f;
}

.img_404 {
  margin-top: 2%;
  margin-left: 30%;
  margin-right: 30%;
}

.mainColor {
  color: #9c27b0;
}

.title {
  color: white;
  font-family: "Helvetica";
}

.center {
  text-align: center;
}

.ui-menubar {
  background-color: #1e1e1e;
  border-top: #1e1e1e;
  border-left: #1e1e1e;
  border-right: #1e1e1e;
}

.ui-menubar .ui-menuitem-link {
  color: #1e1e1e;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

.pi-home:before {
  color: gray;
}

.pi-file:before {
  color: gray;
}

.pi-question-circle:before {
  color: gray;
}

.pi-power-off:before {
  color: gray;
}

.p-menubar
  .p-menubar-root-list
  > .p-menuitem
  > .p-menuitem-link
  .p-menuitem-text {
  color: white;
}

.p-datatable .p-datatable-tbody > tr > td {
  background: #3b3b3b !important;
  color: white !important;
  border: 1px solid #3b3b3b !important;
}

.p-datatable .p-datatable-thead > tr > th {
  background: #272727 !important;
  color: white !important;
  border: 1px solid #3b3b3b !important;
}

.p-datatable .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
  background: #3b3b3b !important;
  color: white !important;
  border: 1px solid #3b3b3b !important;
}

.p-datatable .p-paginator {
  background: #272727 !important;
  color: white !important;
  border: 1px solid #3b3b3b !important;
}

.p-datatable .p-paginator .p-dropdown {
  background: #3b3b3b !important;
  border: 1px solid #3b3b3b !important;
}

.p-datatable .p-paginator .p-dropdown .p-dropdown-label {
  color: white !important;
}

.p-datatable .p-paginator .p-paginator-current {
  color: white !important;
}

.p-datatable .p-paginator .p-paginator-prev {
  background: #3b3b3b !important;
  color: white !important;
  border: 1px solid #3b3b3b !important;
}

.p-datatable .p-paginator .p-button.p-button-icon-only {
  color: #9c27b0 !important;
  border: 1px solid #9c27b0 !important;
}

.p-datatable .p-sortable-column .p-sortable-column-icon {
  color: white !important;
}
