.genericText {
  color: white;
  font-family: "Inter", sans-serif;
}

.menuBarTitle {
  margin-top: 3%;
  color: white;
  font-size: larger;
}

.genericFormImput {
  color: white;
  background-color: #3e4045;
}

.genericParagraph {
  color: white;
  font-family: "Inter", sans-serif;
  text-align: center;
}
